body {
    margin-left: 25px;
    background-color: rgb(239, 152, 152);
    font-size: 19px;
}

h1 {
    font-size: 2em;
    font-family:'Times New Roman', Times, serif';
     }

h2 {
    font-family:'Times New Roman', Times, serif';
}

p {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , Times, serif;
    line-height: 23.5px;
}

img {
    width: 400px;
    border-radius: 30%;
   }

.list-style {
    font-weight: bold;
    color: rgb(107, 13, 114);
    line-height: 25px;
}

.font-size {
    font-size: 110%;
}